numpy==1.26.4
pandas==2.3.3
pyarrow==22.0.0

matplotlib==3.9.2
seaborn==0.13.2

scipy==1.13.1
statsmodels==0.14.2
scikit-posthocs==0.14.0

scikit-learn==1.5.1
iterative-stratification==0.1.9
xgboost==3.0.3

torch==2.8.0
transformers==4.55.0

requests==2.32.3
python-dotenv==0.21.0

joblib==1.4.2
tqdm==4.66.5

jupyter
notebook

google-cloud-storage
google-cloud-bigquery
db-dtypes
pandas-gbq